style>
    body {
      font-family: 'Georgia' ;
      background: blue ;
      margin: 1;
      padding: 2rem;
    }

    h1 {
      text-align: center;
      color:#d82497;
      margin-bottom: 0rem;
    }

    h3 {
      text-align: center;
      color: #55b1e3;
      margin-bottom: 1rem;
    }
    
   .gallery {
      column-count: 3;
      column-gap: 15px;
      padding: 15px;
    }

    .photo-card {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;

      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .photo-card img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .quote {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 1rem;
      font-size: 0.9rem;
      opacity: 0;
      transition: opacity 0.3s ease;
      text-align: center;
    }

    .photo-card:hover .quote {
      opacity: 1;
    }
    .photo-card:hover {
      transform: scale(1.04);
    }
  </style>
